{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        .important {
            color: #336699;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Give mail for spamz</h1>
    <p class="important">
        <form action="{{ url_for('stories.get_email') }}" method="post">
            <label for="exampleInputEmail1">
                Email
            </label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address"><br>
            <button type="submit">Go</button>
        </form>
    </p>
{% endblock %}
